#title{
	padding-top: 88px;
	margin-bottom: 5px;
}
#title h3{
	padding-top: 15px;
	font-size: 24.5px;
	font-weight: 400;
	color: #7c7c7c;
}
#title .glyphicon{
	top: 3px;
	left: 2px;
	color: #575655;
	font-size: 27px;
	font-weight: normal;
}
.line{
	padding-bottom: 15px;
	clear: both;
}
#content{
	overflow: hidden;
}
.span4 {
	float: left;
	width: 310px;
	margin-left:0; 
}

#big-img img{
	width: 300px;
	padding: 4px;
	border: 1px solid #efefef;
	display: block;
}
.unline{
	text-align: center;
	position: relative;
	padding: 15px 0;
	clear:both;
}
.unline::before{
	content: '';
	height: 2px;
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	margin-top: -1px;
	background: #f4f4f4;
}
.unline span{
	color: #7c7c7c;
	font-size: 37px;
	background: #fff;
}
.small-img{
	width: 100%;
	height: 117px;
}
.small-img li{
	width: 60px;
	float: left;
	margin-right: 7px;
	border: 1px solid #efefef;
	padding: 5px;
}
.small-img li:last-child{
	margin-right: 0;
}
.small-img li img{
	width: 60px;
}
.span8{
	width: 635px;
	float: right;
	margin-left: 14px;
}
.span7{
	width: 366px;
	float: left;
}
.tle{
	color: #7c7c7c;
	height: 25px;
	line-height: 25px;
	padding-bottom: 5px;
}
.tle .glyphicon{
	text-align: left;
}
.introduce{
	background: #f4f4f4;
	border: 1px solid #efefef;
	padding: 15px;
	color: #7c7c7c;
	margin-bottom: 15px;
}
.introduce .top{
	margin-bottom: 10px;
}
.warn{
	background: #bbb;
	padding: 15px;
}
.warn p{
	color: #fff;
}
.span5{
	float: right;
	position: relative;
}
.price{
	width: 120px;
	height: 100px;
	overflow: hidden;
	position: absolute;
	top: 4px;
	right: -6px;
		-webkit-transform: rotate(45deg);
}
.dollar{
	background: #609450;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	padding: 7px;

}
#guide{
	border: 1px solid #efefef;
	padding: 15px;
	width: 227px;
}
#guide .money{
	padding-bottom: 15px;
}
#guide .money h3{
	font-size: 35px;
	color: #7c7c7c;
}
#guide .money p{
	color: #d7d7d7;
}

}
.option{
	color: #333;
	display: block;
	height: 20px;
	line-height: 20px;
}
.select{
	color: #7c7c7c;
	margin-bottom:5px;
	font-weight: bold;
}
.select-box{
	position: relative;

}
.select-box.selected{
	color: #fff;
	background: #e8e8e8;

	box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.15)inset;
}
.sel-btn{
	height: 30px;
	
	padding: 0 10px;
	line-height: 30px;
}
.sel-btn p{
	overflow: hidden;
	width: 186px;
	font-weight: bold;
}
.sel-btn span{
	border: 4px solid transparent;
	border-top: 4px solid #747474;
	position: absolute;
	right: 10px;
	top: 50%;

}
.sel-menu{
	position: absolute;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #efefef;
	padding: 5px 0;
	width: 227px;
	display: none;
}
.sel-menu li{
	line-height: 26px;
	padding: 0 20px;
	color: #333;
	border: 1px solid #efefef;
}
.sel-menu li:hover{
	background: #0081c2;
	color: #fff;
}
input{
	width: 218px;
	height: 20px;
	padding: 4px 6px;
	color: #A7A7A7;
	outline: none;
	margin-bottom: 10px;

}
.qty{
	font-weight: bold;
	color: #7c7c7c;
	margin-top: 10px;
	margin-bottom: 5px;
}
.add{
	font-size: 17px;
	background: #609450;
	padding: 10px;
	margin-bottom: 15px;
}
.add a{
	color: #fff;
	font-weight: bold;
}
.add .glyphicon{
	color: #a2bc9b;
	padding-right: 15px;
}
.share{
	text-align: right;
	color: #7c7c7c;
}
.share .glyphicon{
	color: #64625f;
	font-size: 24px;
	padding: 1px;
}
#tab-box{
	
	width: 633px;
	margin-right: 1px;
	display:block;
}
#tab-box .btns-box{
	height: 35px;
	border:  1px solid #efefef;	
	
}
#tab-box li{
	display: inline-block;
	border-right:  1px solid #efefef;
	float: left;
	height: 35px;
	line-height: 35px;
	padding: 0 15px;
	color: #7c7c7c;
}
#tab-box .main-menu{
	color: #7c7c7c;
}
#tab-box .main-menu{
	color: #7c7c7c;
}
#tab-box .active{
	height: 38px;
	color: #040404;
}
#tab-box .active .main-menu{
	color: #505050;
}
#tab-box > p{
	margin-bottom: 10px;
	color: #7c7c7c;
	padding: 15px;
	border: 1px solid #efefef;
	border-top: 0;
	display: none;

}

#tab-box .content-box{
	float: left;
	padding: 15px;
	border: 1px solid #efefef;
	border-top: 0;
	
}
#tab-box .content-box h3{
	color: #7c7c7c;
	font-weight: bold;
	padding-bottom: 3px;
	
}
.content-box .icon{
	color: #e5412d;
}
.content-box p{
	color: #7c7c7c;
	text-align: left;
}
.icon .glyphicon{
	padding-right: 5px;
}
.icon .glyphicon-heart{
	padding-right: 3px;
}
.content-box .first{
	padding-bottom: 15px;
}
.heart{
	float: right;
	display: inline-block;
	font-size: 60px;
	color: #eee;
}
/*弹层*/
html{
	position: relative;
}
.dialog-box{
	background:rgba(0,0,0,0.6);
	z-index: 100;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	display: none;
}
.dialog-box .content{
	width: 423px;
	height: 498px;
	opacity: 0.9;
	background: #fff;
	position: fixed;
	left: 50%;
	/*top: 50%;*/
	top: -249px;
	margin-left:-200px;
	margin-top:-249px;

}
@keyframes show{
	100%{
		top:50%;
	}
}
.dialog-title{
	height: 30px;
	background: #f4f4f4;
	border-bottom: 1px solid #efefef;
	text-align: right;
	line-height: 30px;
}
.dialog-close{
	margin-right: 8px;
	cursor: pointer;
	font-weight: bold;
}
.dialog-body{
	text-align: center;
	height: 400px;
}
.dialog-body img{
	width: 265px;
	height: 355px;
	margin: 10px 0;
	margin-bottom: 20px;
	position: absolute;
	left: 80px;
	top: 25px;
}
.dialog-prev,.dialog-next{
	width: 40px;
	height: 40px;
	background: rgba(0,0,0,0.6);
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
	color: #fff;
	position: absolute;
	top: 40%;
	/*display: none;*/
}
.dialog-prev{
	position: absolute;
	left: 79px;
	
}
.dialog-next{
	position: absolute;
	right: 79px;
	
}
.dialog-btn{
	/*height: 50px;*/
	border-top: 1px solid #efefef;
	background: #f4f4f4;
	padding: 10px 15px;
}
.dialog-btn span{
	height: 30px;
	line-height: 30px;
	color: #fff;
	padding: 0 10px;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin-right: 5px;

}
.dialog-btn .next-btn{
	background: #f00;

}
.dialog-btn .prev-btn{
	background: green;
}
.dialog-btn .slide-btn{
	background: blue;
}
.dialog-btn .download-btn{
	color: black;
	background: #7c7c7c;
	border: 1px solid #efefef;
}
@keyframes hide{
	0{
		top: 0;
	}
	100%{
		opacity: 0;
	}
}






	